<ion-content>
  <h3>Sistema de Pedidos</h3>
    
      <ion-img src="assets/icon/tela-inicial.png"></ion-img>
  
      <form>
        <ion-item>
            <ion-label >Email: </ion-label>
            <ion-input type="text"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label >Senha: </ion-label>
            <ion-input type="password"> </ion-input>
        </ion-item>
        <ion-button expand="block" > Entrar</ion-button>
        <ion-button expand="block" fill="outline"> Registrar</ion-button>

        

      </form>
  
</ion-content>
